* {
	margin: 0;
	padding: 0;
	border: none;
}

.hotPot{
	width: 100%;
}
.welcome {
	height: 25px;
	margin-left: 30%;
	width: 40%;
	margin-top: 45px;
}

.welButton {
	max-width: 200px;
	border-radius: 3.5px;
	background-color: antiquewhite;
	width: 100%;
}

.welButton::after {
	color: beige;
}