@font-face {
	font-family: 'iconfont';
	src: url('//at.alicdn.com/t/font_1473126154_82672.eot');
	/* IE9*/
	src: url('//at.alicdn.com/t/font_1473126154_82672.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/font_1473126154_82672.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/font_1473126154_82672.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/font_1473126154_82672.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	width: 100%;
	height: 100%;
}

.welcome {
	position: relative;
	top: -10px;
	max-width: 300px;
	margin-left: 30%;
	width: 40%;
	margin-top: 0px;
	margin: 50px auto;
	margin-bottom: 10px !important;
}

.welcome p {
	padding: 8px 0;
	text-align: center;
}

.pTitle {
	margin-top: 20px;
}

.aDiv {
	height: 50px;
}

.hotPot {
	width: 100% !important;
	max-width: 300px;
	max-height: 300px;
}

.welButton {
	margin-top: 20px;
	max-width: 300px;
	border-radius: 3.5px;
	background-color: antiquewhite;
	width: 100%;
	height: 25px;
	text-align: center;
}

.welButton::after {
	color: beige;
}

.more,
.github,
.weibo {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
	float: left;
	font-family: "iconfont";
	width: 33.33%;
	max-width: 100px;
}

.weibo {
	text-align: left;
}

.more {
	text-align: right;
	position: relative;
	top: 2px;
}

.github {
	font-size: 23px;
}

.next,
.pet,
.music,
.feeling,
.note {
	font-family: "iconfont";
}

.swipeTile {
	width: 90%;
	margin-left: 5%;
	width: 90%;
	height: 40px;
	max-width: 800px;
	margin: 20px auto;
	margin-top: 40px;
}

.pet,
.music,
.feeling,
.note {
	color: pink;
	max-width: 200px;
	width: 25%;
	font-size: 20px;
	text-align: center;
	float: left;
}

.pet>p,
.music>p,
.feeling>p,
.note>p {
	border-bottom: 1px solid pink;
	border-top: 1px solid pink;
	border-left: 1px solid pink;
}

.musicP {
	position: relative;
	top: 2px;
}

.noteP {
	position: relative;
	top: 1px;
}

.note>p {
	border-right: 1px solid pink;
}

.petP {
	position: relative;
}

.petContent {
	border-radius: 4px;
	width: 90%;
	margin-left: 5%;
	height: 200px;
	border: 1px solid pink;
	max-width: 800px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.petContent>img {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid floralwhite;
	border-radius: 50%;
	margin-left: 5px;
	float: left;
}

.userHead {
	float: left;
	left: 6px;
}

.publishTime,
.userName {
	text-align: left;
	position: relative;
	color: #c1c1c1;
	left: 8px;
}

.userName {
	top: 10px;
	font-size: 12px;
}

.publishTime {
	top: 19px;
	font-size: 4px;
}

.petContent .content {
	width: 800px;
	height: 300px;
}

.petContent .content>img {
	width: 100px;
	height: 100px;
}