*{
	margin: 0;
	padding: 0;
	border:none;
}
body{
	width: 100%;
    height: 100%;
	background-image: url(../picture/backgroundHotPot.jpg);
	background-repeat: no-repeat;
	background-position: 50% 28%;
}
.welcome{
	height:100px;
	margin-left: 30%;
    width: 40%;
    margin-top: 30%;
}
.welButton{
	width: 100%;
}
.welButton::after{
	color: beige;
}
